:root {
    --color-a: #DE68B5;
    --color-b: #2B98CA;
    --color-bg-dark: black;
    --color-text-dark: white;
    --color-bg-light: white;
    --color-text-light: black;
}

nav {
    position: sticky;
    top: 0;
    padding: 1em;
    background: white;
    border-bottom: 2px solid black;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul li {
    list-style-type: none;
    margin: 1em;
    font-size: 1.5em;
}
nav a {
    color: black;
    text-decoration: none;
}

section:nth-child(odd) {
    --section-bg-color: var(--color-bg-dark);
    --section-text-color: var(--color-text-dark);
}
section:nth-child(even) {
    --section-bg-color: var(--color-bg-light);
    --section-text-color: var(--color-text-light);
}
section {
    background-color: var(--section-bg-color);
    color: var(--section-text-color);
    padding: 10rem;
}

.Content {
    max-width: 50rem;
    margin: 2em auto;
}

h1, h2 {
    font-weight: normal;
    margin: 1em;
}

ul.Genres {
    display: flex;
    flex-direction: center;
    flex-wrap: wrap;
}
ul.Genres li {
    list-style-type: none;
    background: black;
    color: white;
    border-radius: 0.5em;
    font-size: 0.8em;
    padding: 0.25em 0.5em;
    margin: 0.125em 0.25em;
}
