:root {
    --color-1: #DE68B5;
    --color-2: #2B98CA;
    --color-3: pink;
    --color-4: orange;
    --color-5: cyan;
    --color-6: yellow;
    --color-7: blue;
    --color-8: green;
    --color-9: red;
    --color-bg-dark: black;
    --color-text-dark: white;
    --color-bg-light: white;
    --color-text-light: black;
}


aside {
    position: fixed;
    width: 300px;
    min-height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: 10;
    /* TODO FIXME use grid on top element to split the page instead. */
}
aside .BookCover {
    padding: 1em;
    border: 2px solid black;
}
aside li:nth-child(1) .BookCover { background-color: var(--color-1); color: #FFF; }
aside li:nth-child(2) .BookCover { background-color: var(--color-2); color: #FFF; }
aside li:nth-child(3) .BookCover { background-color: var(--color-3); color: #FFF; }
aside li:nth-child(4) .BookCover { background-color: var(--color-4); color: #FFF; }
aside li:nth-child(5) .BookCover { background-color: var(--color-5); color: #FFF; }
aside li:nth-child(6) .BookCover { background-color: var(--color-6); color: #000; }
aside li:nth-child(7) .BookCover { background-color: var(--color-7); color: #FFF; }
aside li:nth-child(8) .BookCover { background-color: var(--color-8); color: #FFF; }
aside li:nth-child(9) .BookCover { background-color: var(--color-9); color: #FFF; }

nav {
    position: sticky;
    top: 0;
    padding: 1em;
    background: white;
    border-bottom: 2px solid black;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul li {
    list-style-type: none;
    margin: 1em;
    font-size: 1.5em;
}
nav a {
    color: black;
    text-decoration: none;
}

section:nth-child(odd) {
    --section-bg-color: var(--color-bg-dark);
    --section-text-color: var(--color-text-dark);
}
section:nth-child(even) {
    --section-bg-color: var(--color-bg-light);
    --section-text-color: var(--color-text-light);
}
section {
    background-color: var(--section-bg-color);
    color: var(--section-text-color);
    padding: 10rem;
}

.Content {
    max-width: 50rem;
    margin: 2em auto;
}

h1, h2 {
    font-weight: normal;
    margin: 1em;
}

ul.Genres {
    display: flex;
    flex-direction: center;
    flex-wrap: wrap;
}
ul.Genres li {
    list-style-type: none;
    background: black;
    color: white;
    border-radius: 0.5em;
    font-size: 0.8em;
    padding: 0.25em 0.5em;
    margin: 0.125em 0.25em;
}
